@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');



html,body
{
	scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}



body{
margin: 0;
font-family: 'Poppins', sans-serif;
}

*{
 box-sizing: :border-box;
 

}

#loading{
	position: fixed;
width: 100%;
height: 100vh;
background: #bee3f8 url('load.gif') no-repeat center;
z-index: 300;


}

.container{
max-width: 1140px;

margin: auto;

}

.row{
	display: flex;
	flex-wrap: wrap;
}

header{
background-color: #0c0c17;
	position: absolute;
	left: 0px;
	right: 0px;
	border-bottom: 1px solid #423940;
	padding: 5px 15px;
	z-index: 200;
	 opacity: 0.95;
}

header .row{
	justify-content: space-between;
	align-items: center;
}

header.fixed{
	background-color: #0c0c17;
	position: fixed;
	 opacity: 0.9;
	 animation: fixHeader 1s ease;
	 z-index: 200;
}

@keyframes fixHeader{
0%{
	transform: translateY(-100%) ;opacity:0;

}

100%{
    transform: translateY(-%);

}


}

header.fixed .navbar ul li a{
color: #ffffff;
}

header.fixed .brand-name a{
	color: #ffffff;
	padding-top: 0;
	margin-top: 0;
}

header .brand-name a{
text-decoration: none;
font-size: 32px;
font-weight: 600;
color: #ffffff;
text-transform: uppercase;
position: relative;
}
/*
header .brand-name a::before{
content: '';
height: 3px;
background-color: #ffffff;
width: 100%;
position: absolute;
left: 0px;
bottom: 0px;
}
*/
header .navbar{


}

header .navbar ul{
	list-style: none;
	padding: 0;
	margin: 0;

}

header .navbar ul li{
	display: inline-block;
	margin-left: 35px;
}

header .navbar ul li a{
font-size: 15px;
text-decoration: none;
line-height: 72px;
color: #ffffff;
font-weight: 600;
position: relative;
display: block;
}

header .navbar ul li a::before{
content: '';
height: 3px;
background-color: #fab501;
width: 0%;
position: absolute;
right: 0px;
bottom: -1px;
transition: all .5s ease;
}

header.fixed .navbar ul li a::before{
background-color: #febd01;
}

header .navbar ul li a:hover::before{
width: 100%;
left: 0;
}

header .navbar ul li a.active::before{
width: 100%;
left: 0;
}

#videobcg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height:auto;
    width:auto;
    z-index: -100;
}
/*
.video{
z-index: 11350;
width: 100%;
height:100%;
display: block;
background-image:url('smalldots.png');
background-repeat: repeat;
position: relative;
}
*/
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  
 min-height: 100%;
 min-width: 100%;

}

.home{
  min-height: 100vh;
  /*
background-image: url(images/hero/pw2.gif); 

*/
background-size: cover;
background-position: center;




}


.video{
 max-width: 100%;
  height: auto;
    
}


 .home .full-screen{
min-height: 100vh;
}


.home   .container{
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 12%;
	padding-top: 5%;

}

.home .home-content{

	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}

.home .home-content .block{
	padding-right: 45px;
	flex: 0 0 75%;
	max-width: 75%;
	padding-left: 35px;
	border-left: 5px solid #ffffff;
	margin-top: 50px;

	


}
  
.home .home-content .block h6{
	z-index: 100;
color: #ffffff;
font-size: 18px;
font-weight: 500;
margin: 0;
padding: 0;
text-shadow: 5px 5px 5px #111111;
}
.home .home-content .block h1{
color: #ffffff;
font-size: 70px;
font-weight: 600;
margin: 0 0 10px;
padding: 0;
text-shadow: 5px 5px 5px #111111;


}
.home .home-content .block h3{
color: #ffffff;
font-size: 25px;
font-weight: 500;
margin: 0;
padding: 0;
text-shadow: 5px 5px 5px #111111;

}

.home .home-content .block .cv-btn{
padding-top: 20px;
}

.home .home-content .block .cv-btn a{
	text-shadow: 5px 5px 5px #111111;
border-radius: 4px;
color: #ffffff;
border: 1px solid #ffffff;
padding: 12px 25px;
text-decoration: none;
display: inline-block;
font-size: 14px;
text-transform: uppercase;
font-weight: 600;
transition: all .5s ease;
background-color: transparent;
}


.home .home-content .block .cv-btn a:hover{
color: #000000;
background-color: #ffffff;
}


/* about me */

.about-me{
padding: 40px 10px;
background-color: #f7feff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23e9e9e9' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ded8ee'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
.about-me .section-title{
flex: 0 0 100%;
max-width: 100%;
margin-bottom: 35px;
margin-left: 22px;

}

.about-me .section-title h1{

display: inline-block;
font-size: 35px;
text-transform: uppercase;
font-weight: 700;
color: #000000;
margin: 0 0 5px;
position: relative;
padding-bottom: 0px;

}



.about-me img{




margin-left: 0;
border: 1px solid;
box-shadow: 0 10px 10px #d5d5d5;


}

.about-me .section-title h1:before{
content: '';
left: 0;
height: 3px;
background-color: #febd01;
position: absolute;
 bottom: 0px;
 right: 30%;
 bottom: 0px 0px 10px;
}


.skills h1:after {
    content: ""; 
    display: block; /* This will put the pseudo element on its own line. */
   /* margin: 0 auto; /* This will center the border. */
    width: 148%; /* Change this to whatever width you want. */
    padding-top: 5px; /* This creates some space between the element and the border. */
    border-bottom: 4px solid #febd01; /* This creates the border. Replace black with whatever color you want. */
}




.text-uppercase{
	text-transform: uppercase!important;
}

.about-me .section-title p.small{ 
display: block;
 font-size: 14px;
 color: #838383;
 font-weight: 400;
 letter-spacing: 2px;

}

.about-me .about-content{
}

.about-me .about-content .img{
	flex:0 0 30.33%;
	max-width: 30.33%;
}

.about-me .about-content .img img{
	width: 100%;
	display: block;
}


.about-me .about-content .text{
	
		flex:0 0 65.66%;
	max-width: 65.66%;
	padding-left: 35px;

}

.about-me .about-content .text h4{
	font-size: 25px;
	font-weight: 600;
	margin: 0 0 5px;
	color: #000000;
}

.about-me .about-content .text h6{
	font-size: 18px;
	font-weight: 500;
	margin: 0 0 10px;
	color: #000000;
}

.about-me .about-content .text h6 span{
	font-size: 18px;
	color: #febd01;
}

.about-me .about-content .text p{
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #838383;
	margin: 0 0 17px;
}

.about-me .about-content .top-space{
	margin-bottom: 20px;
}


.about-me .about-content .text .info{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-me .about-content .text .info .list{
	
	flex: 0 0 calc(50% );
	max-width: calc(50% - 5px );
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	border-bottom:2px solid #dee2e6;
	padding-bottom: 10px;
}

.about-me .about-content .text .info .list label{
	
padding-right: 10px;
color: #000000;
font-weight: 600px;
font-size: 15px;
}

.about-me .about-content .text .info .list p{
	
margin: 0;
}

.about-me .about-content .text .social-links{
padding-top: 30px;
}


.about-me .about-content .text .social-links a{
	height: 30px;
	width:30px;
	background-color: #000000;
	border-radius: 3px;
	display: inline-block;
	border: 1px solid #000000;
	line-height: 28px;
	text-align: center;
	margin: 0 1px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.about-me .about-content .text .social-links a:hover{
	background-color: transparent;
}


.about-me .about-content .text .social-links a .fa{
color: #ffffff;
font-size: 12px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}


.about-me .about-content .text .social-links a:hover .fa{
color: #000000;
}

/*
*/

.web{
	width: 100%;
}

.languages{
	width: 100%;
}

.design{
	width: 100%;
}

.cloud{
	width: 100%;
}

.tool{
	width: 100%;
}

.skills{
padding: 60px 15px;
/* background-color: #efefef; 
background-image: url(images/back1.jpg); 


background-size: cover;
background-position: center;
*/
background-color: #e5e7ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23eedded' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23d9d5eb'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

}


.skills .skills-content{

flex: 0 0 55%;
max-width: 50%;
padding-right: 30px;
}

.skills .skills-content h1{
font-size: 24px;
}

.skills h1{
	font-size: 30px;
	max-width: calc(70% - 100px );
	font-size: 22px;

	}

.skills .img{
flex: 0 0 40%;
max-width: 50%;
padding-top: 8%;
margin-left: 30px;
}

.align-items-center{
	align-items: center;
}

.skills .img img{
width: 100%;
display: block;

}


.skills .skills-content .section-title p{
font-size: 15px;
font-weight: 400;
line-height: 24px;
color: #838383;
margin: 15px 0 20px;
}

.skills .skills-content .skill-box{

flex: 0 0 100%;
max-width: 100%;
margin-bottom: 18px;
overflow-x:hidden;
}


.skills .skills-content .skill-box h6{
font-size: 16px;
font-weight: 500;
color: #000000;
margin: 0 0 8px;
}


.skills .skills-content .skill-box .skill-bar{
height: 7px;
background-color: #eeeeee;
position: relative;

}


.skills .skills-content .skill-box .skill-bar .skill-bar-in{
background-color: #febd02;
position: absolute;
left: 0;
top: 0;
height: 100%;
border-radius: 2px;
}






/*
.skills .skills-content .skill-box .skill-bar .skill-bar-in{
background-color: #ff0000;
position: absolute;
left: 0;
top: 0;
height: 100%;
}
*/

.skills .skills-content .skill-box .skill-bar .skill-bar-in span{
color: #838383;
font-size: 16px;
font-weight: 400;
position: absolute;
right: 0;
top: -30px;
}




.skills .flex-skill-img{
display: flex;

}

 .skills .flex-skill-img .skill-logo{
 	flex: 0 0 15%;
 }

.skills .flex-skill-img .skill-box{
flex: 0 0 85%;

}






























.contact-us{
padding: 100px 0px;

background-color: #97b1ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

}

.contact-us .container{
 

}

.contact-us .section-title{
	

  border-bottom: 4px solid #febd02;
  margin-bottom: 50px;
display: block;
text-align: center;
margin-right: 40%;
margin-left: 40%;



}

.contact-us .section-title .git-cen{
	

text-align: center;



}

.contact-us  .row .getintouch{
	
	text-align: center;
	display: block;


}

.contact-us .section-title h1{
	font-weight: bold;
	font-size: 33px;
	text-align: center;
	display: block;
  
}

.contact-us .contact-form{
background-color: #ffffff;
flex: 0 0 92%;
max-width: 92%;
padding: 20px;
border: 2px solid #eeeeee;

}

.contact-us .contact-form .text{

flex: 0 0 80%;
max-width: 100%;
padding-bottom: 20px;

}

.contact-us .contact-form .text h2{
font-size: 25px;
font-weight: 600;
color: #000000;
margin: 0;
padding: 0;
}

.contact-us .contact-form .text p{
font-size: 15px;
font-weight: 400;
line-height: 24px;
color: #838383;
margin: 0px;
}


.contact-us .contact-form .space-between{
justify-content: space-between;
}


.contact-us .contact-form .col-6{
flex: 0 0 calc(50% - 15px);
max-width: calc(50% - 15px);
}


.contact-us .contact-form .col-12{
flex: 0 0 100%;
max-width: 100%;
}


.contact-us .contact-form .col-12{
flex: 0 0 100%;
max-width: 100%;
}
 

 .contact-us .contact-form .form-control{
height: 45px;
width: 94%;
margin-bottom: 15px;
border: 1px solid #ced4da;
padding: 6px 12px;
font-size: 14px;
font-weight: 400;
}

.contact-us .contact-form textarea.form-control{

height: 130px;

}

 .contact-us .contact-form .form-control::placeholder{
color: #838383;
}


.contact-us .contact-form .button{
 flex: 0 0 100%;
 max-width: 100%;
 text-align: right;

}


 .contact-us .contact-form .button a{
 	border-radius: 4px;
 	color: #ffffff;
 
 	padding: 12px 25px;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 14px;
 	text-transform: uppercase;
 	font-weight: 600;
 	transition: all .5s ease;
 	background-color: #febd01;
 	box-shadow: 0px 10px 10px #d5d5d5;
}



.contact-us .contact-form .button a:hover{
 	color: #ffffff;
 	background-color: #000000;
}

.contact-us .send-button{
border-radius: 4px;
 	color: #ffffff;
 
 	padding: 12px 25px;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 14px;
 	text-transform: uppercase;
 	font-weight: 600;
 	transition: all .5s ease;
 	background-color: #febd01;
 	box-shadow: 0px 10px 10px #d5d5d5;

}

 .contact-us .send-button:hover{
 	color: #ffffff;
 	background-color: #000000;
}


/* project section start */

.projects{
padding: 20px 0px;
background-color: #dde7f3;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='800' viewBox='0 0 1600 800'%3E%3Cpath fill='%23a775ff' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%23b7e8ff' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
}

.projects .project-gear-flex{
display: flex;

}

#projects{


}


.projects .section-title{
font-size: 20px;
text-align: center;

}

.projects .section-title p{
margin-bottom: 30px;
}

.projects .section-title h1 {
 
    border-bottom: 4px solid #febd01; 
   
}



.projects .videos{
text-align: center;
margin: 5px;
width: 100%;
}


/* */

.projects .videos .project0{
	margin: 0 auto;
	

}

.projects .videos iframe{
width: 50%;

}

/*exp*/


.projects .videos .project1{
margin-bottom: 35px;
	padding-bottom: 35px;
	padding-top: 20px;
	background-color: rgba(0,0,0,0.1);
	z-index: -1;
	
}

.projects .videos .project1 iframe{
	margin-bot5m: 80px;
	border: 5px solid #ffffff;
	box-shadow: 0 15px 15px #222222;
	margin:0px;
	padding: 0px
}

.projects .videos .project2{
margin-bottom: 35px;
	padding-bottom: 35px;
	
}
.projects .videos .project2 iframe{
	margin-bottom: 80px;
	border: 5px solid #ffffff;
	box-shadow: 0 15px 15px #222222;
	margin:0px;
	padding: 0px
}

.projects .videos .project3{
	margin-bottom: 35px;
	padding-bottom: 35px;
    background-color: rgba(0,0,0,0.1);
	z-index: -1;

}
.projects .videos .project3 iframe{
	margin-bottom: 80px;
	border: 5px solid #ffffff;
	box-shadow: 0 15px 15px #222222;
	margin:0px;
	padding: 0px
}

.projects .project-details{
background-color: rgba(255,255,255,0.0);


}


.projects .videos .project4{
margin-bottom: 35px;
	padding-bottom: 35px;
	
}
.projects .videos .project4 iframe{
	margin-bottom: 80px;
	border: 5px solid #ffffff;
	box-shadow: 0 15px 15px #222222;
	margin:0px;
	padding: 0px
}


.projects .videos .project5{
	margin-bottom: 35px;
	padding-bottom: 35px;
	background-color: rgba(0,0,0,0.1);
	z-index: -1;
}
.projects .videos .project5 iframe{
	margin-bottom: 80px;
	border: 5px solid #ffffff;
	box-shadow: 0 15px 15px #222222;
	margin:0px;
	padding: 0px
}


.projects .videos .project6{
margin-bottom: 35px;
	padding-bottom: 35px;
	
}
.projects .videos .project6 iframe{
	margin-bottom: 80px;
	border: 5px solid #ffffff;
	box-shadow: 0 15px 15px #222222;
	margin:0px;
	padding: 0px
}




/* project section end */



/* exprience section start */


.exprience{
background-color:#ebf4ff; 
	padding: 50px 55px;

background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23eaefff' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23d5e0ff' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23c1d0ff' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23acc1ff' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2397b1ff' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.exprience .section-title{
	font-size: 22px;
	text-align: center;

}

.exprience .section-title h1{

	 border-bottom: 4px solid #febd01;
}


.exprience  .work{
width: 200px;
}


.exprience .exp-block{
display: flex;
flex-wrap: wrap;

}

.exprience .exp-block .workexp {
    flex: 0 0 21.33%;
    max-width: 30.33%;
 
    padding:0;
    margin:0;

 
}

.exprience .exp-block .text {
     flex: 0 0 70.66%;
    max-width: 70.66%;
    padding-left: 20px;
    margin-left: 20px;
   padding:0px;
    margin:0;
    border-left: 4px solid #aeaeae; 
}

.exprience .exp-block .text .app-dev{
    padding-left: 20px;
     
 
}


.exprience .exp-block .text h1{
    
     
 
}

.exprience .exp-block .text span{
 color: #febd01;
}

.exprience .hback{

background-color: #ebf2ff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.39'%3E%3Cpolygon fill='%23bdcdfa' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%2395a6ef' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23747fde' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23595cc6' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23504ba0' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%234d4772' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%233f3c4a' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

padding:15px;
border-radius: 5px;


}











/* exprience section end */






































/*  footer section  */

footer{
padding: 80px 15px;
background-color: #0c0c17;
}

footer .logo{

	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;
	font-size: 45px;
	color: #ffffff;
	font-weight: 900

}


footer .social-links{
	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;
	
}


footer .social-links a{
color: #999999;
text-decoration: none;
display: inline-block;
margin: 0px 12px;
padding-top: 10px;
}

.copyright{
border-color: #0c0c17;
border-top:1px solid #1d1d27;
background-color: #000000;
padding: 15px;

}

.copyright p{
color: #838383;
margin: 0;
text-align: center;
font-weight: 400;
font-size: 14px;
}

.ham-burger .fa{

	font-size:20px;
	height: 30px;
	width: 35px;
	background-color: #ffffff;
	text-align: center;
	cursor: pointer;
	
	border-radius: 3px;
	color: #0000000;
	line-height: 30px;
	border: 1px solid #eeeeee;
display: none;

}


@media(max-width: 1300px){


	.projects .videos iframe{
width: 65%;

}


@media(max-width: 1000px){


	.projects .videos iframe{
width: 75%;

}

@media(max-width: 991px){
.home .home-content .block h1{
font-size: 50px;
}

.projects {
    padding: 10px 10px;
}

}


@media(max-width: 900px){

.video {
    max-width: 100%;
    height: auto;
    border-top: 80px solid #101010;
    border-bottom: 80px solid #101010;
}

.projects .section-title h1:after {

    width: 45%;
   
}

}

@media(max-width: 767px){



.exprience {
    
    padding: 54px 10px;
}

	.exprience .exp-block .text {
    
  
    margin-top: 50px;
   
}

.video {
    max-width: 100%;
    height: auto;
   
}



.home{
min-height: 75vh;


}

.project1 {
    margin-bottom: 50px;
}

.project2 {
    margin-bottom: 50px;
}

.project3 {
    margin-bottom: 50px;
}

.project4 {
    margin-bottom: 50px;
}

.project5 {
    margin-bottom: 50px;
}

.project6 {
    margin-bottom: 50px;
}

.projects {
    padding: 10px 10px;
    padding-left: 0;
}

	.projects .videos iframe{
width: 100%;

}

	.home .home-content .block h1{

		font-size: 40px;
	}



	.home .home-content .block h3{
		font-size: 25px;

	}



/*
	.header{

		padding: 15px;
		position: fixed;
		background-color: #ffffff;
		border: none;
		border-top: 1px solid #eeeeee;
		display: none;

	}


	header{
	

		padding: 15px;
		position: fixed;
		background-color: #000000;
		border: none;
		border-top: 1px solid #eeeeee;
		
	}
*/

/*
	header .brand-name a{
		color: #ffffff;

	}
	
	.ham-burger .fa{
		display: inline-block;
	}

	 .navbar{
		
		position: absolute;
		background-color: #000000;
		width: 100%;
		left: 0px;
		top: 75px;
		padding:15px;
		border-top: 1px solid #eeeeee;
		overflow: hidden;
		z-index: 500px;
		display: none;
		
	}


	 .navbar .show{
		display: block !important;
	}

	header .navbar ul li{
	display: block; 
	margin-left: 0;

	}

	header .navbar ul li a{
	line-height: 42px;
	color: #ffffff;
	}

	header .navbar ul li a::before{
	background-color: febd01;
	}
*/


/* screw header */

	.about-me .about-content .text{
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0px; 

	}


	.about-me .about-content .img{
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 70px;
		margin-top: 1px;

	}


	.services .service-content .box{
			background-color: #ffffff;
			padding: 30px;
			flex: 0 0 100%;
			max-width: 100%;
	}

	.skills .skills-content{
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 0px;

	}

	.skills .img{
		flex: 0 0 100%;
		max-width: 100%;

	}


	.contact-us .contact-form{
		padding: 40px 20px;

	}


	.contact-us .contact-form .col-6{
		flex: 0 0 85%;
		max-width: 90%;

	}

	.about-me .about-content .text .info .list p{
	
		flex: 0 0 100%;

	}


	.projects{
	
		margin-bottom: 30px;
	}

	.projects .section-title{
	font-size: 18px;
	padding-left: 20px;
	margin-bottom: 30px;

	}

	.projects .section-title h1{
	margin-bottom: 30px;

	}


	.about-me .about-content .text p {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 17px;
}


/*
	.about-me img{
		margin-top: 40px;
		margin-right: 10px;
		margin-left: 2px;
		box-shadow: 0 0 0;
	}
*/
}


@media(max-width: 600px){

.video {
    max-width: 100%;
    height: auto;
    border-top: 0px solid #101010;
    border-bottom: 0px solid #101010;
}




	
.home .home-content .block {
   display: none;
}
}


@media(max-width: 500px){

	.contact-us .section-title h1 {
  
    font-size: 24px;
  
}

.exprience .exp-block .text h1 {
	font-size: 20px;
}

.exprience .exp-block .text h3 {
	font-size: 16px;
}

.exprience .exp-block .text p {
	font-size: 14px;
}

.exprience {
    
    padding: 54px 5px;
}

.exprience .exp-block .text {
    flex: 0 0 90.66%;
    max-width: 90.66%;
  
}

.exprience .work {
    width: 100px;
    padding-top: 20px;
    padding-left: 10px;
}


	.home .home-content .block {
    flex: 0 0 75%;
    max-width: 75%;
  
    border-left: 5px solid #ffffff;
}

	.home .home-content .block h1{

		font-size: 25px;
	}



	.home .home-content .block h3{
		font-size: 15px;

	}
 

 .home .home-content .block {
		padding-left: 15px;

	}

}
































/*
<section>
<video align="center" id="bgvideo" loop  autoplay="autoplay"  autoplay loop muted preload="auto">
<source src="final1.mp4" type="video/mp4"/>
</video>  
</section>
<section id="banner">
   
</section>
https://script.google.com/macros/s/AKfycbwFstKDQmxbkAmNRzn9JR6K1LfhXFYsUf8eAnbh/exec

*/